 @font-face {
   font-family: 'NeuzeitGro-Reg';
   src: url('/fonts/NeuzeitGro-Reg.eot');
   src: url('/fonts/NeuzeitGro-Reg.eot?#iefix') format('embedded-opentype'),
   url('/fonts/NeuzeitGro-Reg.woff') format('woff');
 }
 @font-face {
   font-family: 'Austin-Roman-Web';
   src: url('/fonts/Austin-Roman-Web.eot');
   src: url('/fonts/Austin-Roman-Web.eot?#iefix') format('embedded-opentype'),
   url('/fonts/Austin-Roman-Web.woff') format('woff');
 }