/*
 * main.scss - pull it all together
 * The build process adds custom sass vars from facts.json first.
 * Then we add our boostrap variable overrides from the local "variables.scss"
 * Then we add all the wonders of bootstrap.
 * Then we import any page specific styles and add global tweaks as required.
 */

// override boostrap with our custom vars
@import 'variables';
@import 'bootstrap/scss/bootstrap';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  color: #222;
  text-align:center;
}

hr {
  display: block;
  margin: 0;
  border: 0 none;
  height: auto;
}
hr::after {
  display: block;
  font-family: $font-family-serif;
  content: '…';
  text-align: center;
  padding: 0 0 $spacer 0;
  font-size: 2.6rem;
  line-height: 2.6rem;
}

.svg-icon {
  vertical-align: middle;
  display: inline-block;
  width: 2em;
  height: 2em;
  svg {
    fill: currentColor;
    stroke: white;
    width: 100%;
    height: 100%;
  }
}

.navbar-brand {
  svg {
    width: 141px;
    height: 30px;
  }
}

.font-feature {
  font-family: $font-family-serif;
}
