/*
 * main.scss - pull it all together
 * The build process adds custom sass vars from facts.json first.
 * Then we add our boostrap variable overrides.
 * Then we add all the wonders of bootstrap.
 * Then we import any page specific styles and add global tweaks as required.
 */

@import './fonts';

// override boostrap with our custom vars
// See `node_modules/bootstrap/scss/_variables.scss` for more options
$brand-primary: #F4E17B !default;
$brand-accent: #DAE0CC;
$brand-gray: #2E343F;
$gray-light: #9D9D9C;
$brand-gray-light: #C6B877;
$enable-rounded: false;
$font-family-sans-serif: 'NeuzeitGro-Reg', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-serif: 'Austin-Roman-Web', Georgia, "Times New Roman", Times, serif;
$font-size-h1: 1.4rem;
$headings-font-weight: 400;
$display1-size: 2.4rem;
$display1-weight: 500;
$link-color: $brand-gray;
$link-decoration: underline;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

@import 'bootstrap/scss/bootstrap';

body {
  color: #222;
  text-align:center;
}
hr {
  height: 8px;
  border: 0;
  background: url('data:image/svg+xml;uft8,<svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg"><title>Group</title><g fill-rule="evenodd"><ellipse cx="4" cy="4" rx="4" ry="4"/><ellipse cx="18.4" cy="4" rx="4" ry="4"/><ellipse cx="32.8" cy="4" rx="4" ry="4"/></g></svg>') no-repeat top center;
}
p {
  margin: 0 auto;
}
.bg-primary {
  color: $body-color !important;
  a {
    color: $body-color !important;
  }
}
.bg-accent {
  background-color: $brand-accent;
  a {
    color: $body-color !important;
  }
}
.bg-inverse {
  a {
    color: $gray-light;
  }
}
.text-decoration-none {
  text-decoration:none;
}
.white, .white:hover {
  color: white;
}
.grey-light, .grey-light:hover {
  color: $gray-light;
}
.fill-white {
  fill: white;
}
.stroke-white {
  stroke: white;
}
.fill-gray {
  fill: $brand-gray;
}
.stroke-gray {
  stroke: $brand-gray;
}
.svg-icon {
  vertical-align: middle;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin:0 .4em;
  svg {
    width: 100%;
    height: 100%;
  }
}
.svg-icon-lg {
  width: 3em;
  height: 3em;
}
.svg-icon-dots {
  width: 2em;
  height: 1em;
}
.svg-icon-dots.svg-icon-lg {
  width: 3em;
  height: 2em;
}
.svg-bundle {
  overflow:hidden;
  position:absolute;
  height:0;
  bottom:0;
}
.container-restrainer {
  margin: auto;
  padding: 2rem 1rem;
  max-width: map-get($container-max-widths, md);
}
.navbar {
  padding:10px 18px;
}
.navbar-brand {
  font-size:18px;
  padding:0px 10px 0px 0;
  svg {
    width: 141px;
    height: 30px;
    vertical-align: middle;
  }
}
.font-feature {
  font-family: $font-family-serif;
}
.embed-responsive {
  background:black;
}
.vert-center:before {
  content:"";
  height:100%;
  display:inline-block;
  margin-right:-1px;
  width:1px;
  vertical-align:middle;
  user-select: none;
}
.vert-center-item {
  display:inline-block;
  vertical-align:middle;
}
.page-home {
  .container-lead {
    opacity: 1;
    transition: opacity 0.8s;
  }
  .container-lead.fade {
    opacity: 0;
  }
  .container-lead.gone {
    opacity: 0;
    padding: 0;
    height: 0;
    overflow:hidden;
  }
  .jumbotron {
    h1 {
      font-size: 3rem;
      margin-bottom:0;
    }
    hr {
      color: white;
    }
    .walk-this-way {
      position:absolute;
      bottom: 80px;
      left:0;
      width:100%;
    }
  }
  .carousel {
    height: 300px;
    max-width: 789px;
    margin: auto;
    .carousel-item {
      height: 300px;
      background-repeat: no-repeat;
      background-size: 70% auto;
      background-position: center center;
    }
    .carousel-control.left, .carousel-control.right {
      background-image: none;
    }
    .carousel-icons {
      position: absolute;
      top: 135px;
    }
    .left .carousel-icons { left: 0; }
    .right .carousel-icons { right: 0; }
    .carousel-indicators {
      bottom: 0;
      margin-bottom: 0;
    }
    .carousel-indicator {
      border-color: $brand-gray;
    }
    .carousel-indicator.active {
      background-color: $brand-gray;
      width: 10px;
      height: 10px;
      margin: 1px;
    }
  }
  .team {
    .carousel {
      height: 370px;
    }
    .team-member-photo {
      height: 11rem;
      width: 60%;
      margin: auto;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 80% auto;
      border: solid 3px $brand-primary;
    }
    .list-group-item {
      border: none;
      text-align: center;
      padding: 0.1rem;
    }
  }
  .services {
    #brief {
      width: 109px;
      height: auto;
      margin: auto;
    }
  }
  .contact {
    .list-group-horizontal {
      width: 8.5rem;
    }
  }
}
@include media-breakpoint-up(md) {
  .page-home .jumbotron h1 {
    font-size: 4rem;
    margin-top: -100px;
  }
}


// Repsonsive type a la http://v4-alpha.getbootstrap.com/content/typography/#responsive-typography
html {
  font-size: 18px;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 22px;
  }
}
