/*
 * main.scss - pull it all together
 * The build process adds custom sass vars from facts.json first.
 * Then we add our boostrap variable overrides.
 * Then we add all the wonders of bootstrap.
 * Then we import any page specific styles and add global tweaks as required.
 */

@import './fonts';

// override boostrap with our custom vars
// See `node_modules/bootstrap/scss/_variables.scss` for more options
$brand-primary: #F4E17B !default;
$brand-accent: #DAE0CC;
$brand-gray: #2E343F;
$gray-light: #9D9D9C;
$brand-gray-light: #C6B877;
$enable-rounded: false;
$font-family-sans-serif: 'NeuzeitGro-Reg', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-serif: 'Austin-Roman-Web', Georgia, "Times New Roman", Times, serif;
$font-size-h1: 1.1rem;
$headings-font-weight: 400;
$display1-size: 2.4rem;
$display1-weight: 500;
$link-color: $brand-gray;
$link-decoration: underline;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

@import 'bootstrap/scss/bootstrap';

body {
  letter-spacing: 1px;
  color: #222;
  text-align:center;
}
hr {
  height: 8px;
  border: 0;
  background: url('data:image/svg+xml;uft8,<svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><ellipse cx="4" cy="4" rx="4" ry="4"/><ellipse cx="18.4" cy="4" rx="4" ry="4"/><ellipse cx="32.8" cy="4" rx="4" ry="4"/></g></svg>') no-repeat center center;
}
hr.left {
  background-position: left center;
}
p {
  margin: 0 auto;
}
.bg-primary {
  color: $body-color !important;
  a {
    color: $body-color !important;
  }
}
.bg-accent {
  background-color: $brand-accent;
  a {
    color: $body-color !important;
  }
}
.bg-inverse {
  a {
    color: $gray-light;
  }
}
.text-decoration-none {
  text-decoration:none;
}
.white, .white:hover {
  color: white;
}
.grey-light, .grey-light:hover {
  color: $gray-light;
}
.fill-white {
  fill: white;
}
.stroke-white {
  stroke: white;
}
.fill-gray {
  fill: $brand-gray;
}
.stroke-gray {
  stroke: $brand-gray;
}
.rotate180 {
  transform: rotate(180deg)
}
.rotate90 {
  transform: rotate(90deg)
}
.rotate-90 {
  transform: rotate(-90deg)
}
.svg-icon {
  vertical-align: middle;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin:0 .4em;
  svg {
    width: 100%;
    height: 100%;
  }
}
.svg-icon-lg {
  width: 3em;
  height: 3em;
}
.svg-icon-dots {
  width: 2em;
  height: 1em;
}
.svg-icon-dots.svg-icon-lg {
  width: 3em;
  height: 2em;
}
.svg-bundle {
  overflow:hidden;
  position:absolute;
  height:0;
  bottom:0;
}
.container-restrainer {
  margin: auto;
  padding: 2rem 1rem;
  max-width: map-get($container-max-widths, md);
}
.navbar {
  padding:10px 18px;
}
.navbar-brand {
  font-size:18px;
  padding:0px 10px 0px 0;
  svg {
    width: 141px;
    height: 30px;
    vertical-align: middle;
  }
}

.opacity-half {
  opacity: 0.2;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.font-feature {
  font-family: $font-family-serif;
}
.embed-responsive {
  background:black;
}
.vert-center:before {
  content:"";
  height:100%;
  display:inline-block;
  margin-right:-1px;
  width:1px;
  vertical-align:middle;
  user-select: none;
}
.vert-center-item {
  display:inline-block;
  vertical-align:middle;
}

.page-home {
  .container-lead {
    opacity: 1;
    transition: opacity 0.8s;
  }
  .container-lead.fade {
    opacity: 0;
  }
  .container-lead.gone {
    opacity: 0;
    padding: 0;
    height: 0;
    overflow:hidden;
  }
  .jumbotron {
    h1 {
      font-size: 3rem;
      margin-bottom:0;
    }
    hr {
      color: white;
    }
    .walk-this-way {
      position:absolute;
      bottom: 80px;
      left:0;
      width:100%;
    }
  }
  .carousel {
    max-width: 789px;
    margin: auto;
    .carousel-item {
      height: 300px;
      background-repeat: no-repeat;
      background-size: 70% auto;
      background-position: center center;
    }
    .carousel-control.left, .carousel-control.right {
      background-image: none;
    }
    .carousel-icons {
      position: absolute;
      top: 135px;
    }
    .left .carousel-icons { left: 0; }
    .right .carousel-icons { right: 0; }
    .carousel-indicators {
      position: static;
      bottom: 0;
      margin: 0;
      width: 100%;
    }
    .carousel-indicator {
      border-color: $brand-gray;
    }
    .carousel-indicator.active {
      background-color: $brand-gray;
      width: 10px;
      height: 10px;
      margin: 1px;
    }
  }
  .team {
    .carousel-control {
      background-color: white;
      opacity: 1;
    }
    .carousel-inner {
      width: 80%;
      margin: auto;
      min-height: 19rem;
    }
    .team-member-photo {
      position: relative;
      padding: 1rem;
      border: solid 3px $brand-primary;
      width: 10rem;
      height: 14rem;
      margin: auto;
      .label {
        position: absolute;
        font-family: $font-family-sans-serif;
        font-size: 0.8rem;
        &.label-default {
          background-color: white;
          color: $brand-gray;
        }
        &.name {
          bottom: -0.8rem;
          right: 1rem;
        }
        &.role {
          transform: rotate(270deg);
          transform-origin: 0% 100%;
          left: 0.7rem;
          top: 7rem;
        }
      }
      .photo-frame {
        display: block;
        max-width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }
    .list-group-item {
      border: none;
      padding: 0.1rem;
    }
  }

  .services {
    $unit-size: 4rem;
    .rolodex {
      height: $unit-size;
      position: relative;
      .rolodex-control {
        height: 100%;
        position: absolute;
        padding-top: 16px;
        top: 0;
      }
      .left {left: 0;}
      .right {right: 0;}
      .rolodex-inner {
        height: 100%;
        width: $unit-size * 3.6;
        margin: auto;
        overflow: hidden;
        .rolodex-list {
          white-space: nowrap;
          position: relative;
          top: 0;
          left: 0;
          margin-bottom: 0;
        }
        .rolodex-item {
          position: absolute;
          top: 0;
          opacity: 0.2;
        }
        .rolodex-item.active {
          opacity: 1;
          transition: opacity 1.5s;
        }
        .svg-icon {
          width: $unit-size;
          height: $unit-size;
        }
      }
    }
    .rolodex-content {
      height: $unit-size * 1.5;
      .rolodex-content-item {
        height: 0;
        opacity: 0;
        transition: opacity 0.5s;
      }
      .rolodex-content-item.active {
        opacity: 1;
        transition: opacity 0.5s;
      }
      p {
        position: relative;
        top: 0; left: 0;
      }
    }
  }
  .contact {
    .list-inline {
      .svg-icon {
        margin: 0;
      }
    }
    .svg-icon-dots {
      margin-left: 0;
    }
  }
}
@include media-breakpoint-up(sm) {
  .page-home {
    .contact {
      text-align: left;
    }
  }
}
@include media-breakpoint-up(md) {
  .page-home .jumbotron h1 {
    font-size: 4rem;
    margin-top: -100px;
  }
  .page-home {
    .services {
      .rolodex {
        .rolodex-inner {
          width: 16.9rem;
        }
        .rolodex-item {
          width: 6rem;
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .page-home {
    .team {
      .carousel-inner {
        min-height: 16rem;
      }
    }
  }
}

// Repsonsive type a la http://v4-alpha.getbootstrap.com/content/typography/#responsive-typography
html {
  font-size: 18px;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 22px;
  }
}
