// Bootstap v4 Variables

// Things we've overridden
$enable-rounded: false !default;
$brand-primary: #F4E17B !default;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-serif: 'Austin Roman', Georgia, "Times New Roman", Times, serif !default;

// See `node_modules/bootstrap/scss/_variables.scss` for more options
