doctype html
html(lang='en')
  head
    include ../head.jade
    title=content.pageTitle
  body
    .navbar.navbar-light.bg-primary
      .navbar-brand marmalade
    .jumbotron
      h1.display-1=content.jumbotronH1
      p.lead Play now